div#quadrado1 {
    background-color: darkred;
}

div#quadrado2 {
    background-color: darkgreen;
}

div#quadrado3 {
    background-color: darkblue;
}

div#quadrado4 {
    background-color: #c3c3c3;
}

div#quadrado5 {
    background-color: darkblue;
}
div {
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 1px solid black;
}

















